<!DOCTYPE html>
<html>

<!-- HEAD -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <!-- viewport mobile -->
        <META name="viewport" content = "width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <!-- REFERENCEMENT -->
        <meta name="Content-Type" content="UTF-8">
        <meta name="description" content="Projet d'étude: développer un back-end pour un client">
        <meta name="title" content="Musée du Louvre - Billetterie">
        <meta name="Content-Language" content="fr">
        <meta name="Keywords" content='thomas sebert", "développeur web", "chef de projet", "Dijon", développeur PHP", "développeur Symfony", "développeur front", "développeur Dijon"'>
        <meta name="Copyright" content="Thomas SEBERT">
        <meta name="Identifier-Url" content="http://thomassebert.fr">
        <meta name="Reply-To" content="sebert.thomas19@gmail.com">
        <meta name="Revisit-After" content="15 days">
        <meta name="Rating" content="general">
        <meta name="Distribution" content="global">
        <meta name="Geography" content="Dijon, France, 21000">
        <meta name="Category" content="internet">
     <!-- TITLE -->
        <title> {% block title %}{% endblock %} </title>
     <!-- CSS -->
        <link href="{{ absolute_url(asset('css/materialize.min.css'))}}" rel="stylesheet">
        <link href="{{ absolute_url(asset('css/stylesheet.css'))}}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block css %}{% endblock %}
     <!-- RAFRAICHISSEMENT -->
        <META HTTP-EQUIV="Refresh" CONTENT="">

     </head>

    <body>
        
        <header id="header">

            <div class="logoBar mainColor center-align">
                <img class="mainLogo" src="{{absolute_url(asset('assets/images/logo.png')) }}" width="300px" alt="Logo du musée">
            </div>

            {% block header %}  {% endblock %}

        </header>

        <main>
            
            <h3 style="text-align: justify; width: 80%; margin-left: 10%; margin-bottom: 15px;">Votre commande à bien été validée!</h3>

			<p style="text-align: justify; width: 80%; margin-left: 10%; margin-bottom: 15px;"> Bonjour {{ shoppingCart.userId.fullname }}! Votre commande n° {{ shoppingCart.bookingKey }} d'un montant de {{ shoppingCart.bookingPrice }}€ à été entièrement validée. Veuillez trouver ci-joint vos billets. Gardez les précieusement, vous devrez les présenter afin d'entrer au musée, sur papier ou smartphone. En cas de tarif réduit, un justificatif pourra vous être demandé. </p>

			<p style="text-align: justify; width: 80%; margin-left: 10%; margin-bottom: 15px;"> Le musée du Louvre vous remercie pour cette commande et vous souhaite une agréable visite.</p>


        </main>

        <footer class="mainColor">
            
            <div class="footer container row">
                <div class="about col s12 white-text">
                    <div class="col s12 m6">
                    <br>
                    <strong>HORAIRES:</strong> <br>
                    9h-18h tous les jours sauf le mardi <br>
                    Nocturne jusqu'à 21h45 les mercredi et vendredi
 
                    </div>
                    <div class="col s12 m6">
                    <br>
                    <strong>ACCÈS:</strong> <br>
                    Par la Pyramide et la galerie du Carrousel tous les jours <br>
                    Passage Richelieu de 9h à 17h30 et jusqu’à 18h00 les mercredi et vendredi <br>
                    Porte des Lions, réservé aux visiteurs en groupe <br>
                    
                    </div>
                </div>
    
                <div class="museumMap col s12">
                    
                    <img src="{{ absolute_url(asset('assets/images/map.png')) }}" alt="facebook icon">  

                </div>

                <div class="socialIcons col s12 center-align">
                    <img src="{{ absolute_url(asset('assets/images/facebook.png')) }}" width="50px" alt="facebook icon">
                    <img src="{{ absolute_url(asset('assets/images/twitter.png')) }}" width="50px" alt="twitter icon">
                    <img src="{{ absolute_url(asset('assets/images/google.png')) }}" width="50px" alt="google plus icon">
                </div>
                      
                
            </div>

            {% block footer_content %}{% endblock %}

         </footer>

        <script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
        {% block js %}{% endblock %}

     </body>

 </html>